<div class="container my-3"> 
  <div class="col-2 fixleft">
      <form action="/quicksort" method="GET" class="row d-flex justify-content-center">
        <button class="btn btn-outline-light bold col-9 mt-2" type="submit" name="date" value="today">今 天</button>
        <button class="btn btn-outline-light bold col-9 mt-2" type="submit" name="date" value="yesterday">昨 天</button>
        <button class="btn btn-outline-light bold col-9 mt-2" type="submit" name="date" value="thism">本 月</button>
        <button class="btn btn-outline-light bold col-9 mt-2" type="submit" name="date" value="lastm">上 個 月</button>
      </form>
  </div>
  <div class="col-10 col-md-8 col-lg-7 fix">
    <div class="text-white text-title">
      <i class="fas fa-coins"></i> 總金額
    </div>
    <div class="d-flex justify-content-center mb-2">
      <div class="money-title text-white">$ {{ totalAmount }}</div>
    </div>
    <form action="/search" method="GET">
      <div class="d-flex justify-content-between">
        <select class="btn btn-outline-light" name="year" onchange="this.form.submit()">
          <option value="">--- 年份 ---</option>
          {{#each years}}
          <option value="{{this._id}}" {{#if (eq this.year ../theYear )}} selected {{/if}}>-- {{this._id}} 年 --</option>
          {{/each}}
        </select>
        <select class="btn btn-outline-light" name="month" onchange="this.form.submit()">
          <option value="">--- 月份 ---</option>
          {{#each months}}
          <option value="{{this._id}}" {{#if (eq this.month ../theMonth )}} selected {{/if}}>-- {{this._id}} 月 --</option>
          {{/each}}
        </select>
        <select class="btn btn-outline-light" name="category" onchange="this.form.submit()">
          <option value="">--- 類別 ---</option>
          {{#each category}}
          <option value="{{this.category}}" {{#if (eq this.category ../theCategory )}} selected {{/if}}>{{this.category_cn}}</option>
          {{/each}}
        </select>
      </div>
    </form>
  </div>
  <div class="col-10 col-md-8 col-lg-7 mx-auto mt-2 index-body">
    <div class="cards mt-3 mb-2">
      {{#each record}}
      <div class="card-body row justify-content-around bg-light mb-1">
        <div class="card-image col-1 d-flex justify-content-center align-items-center">
          <i class="{{{getIcon this.category ../category}}} font"></i>
        </div>
        <div class="card-text row col-7">
          <div class="col-12 align-self-center text-item">{{ this.name }}</div>
          <div class="col-12 align-self-center text-date">{{{showDate this.date}}}</div>
          {{#if this.merchant}}
          <div class="col-12 align-self-center text-merchant"><strong><i class="fas fa-map-marker-alt"></i> </strong> {{ this.merchant }}</div>
          {{/if}}
        </div>
        <div class="card-price col-2 d-flex justify-content-center align-items-center">
          <div class="text-number">${{ this.amount }}</div>
        </div>
        <div class="card-buttons col-2 d-flex align-items-center justify-content-center">
          <div class="col-12">
            <a href="/records/{{ this._id }}/edit">
            <button class="btn-sm btn-success col-12 my-1"><i class="fas fa-edit"></i></button>
           </a>
           <form action="/records/{{ this._id }}?_method=DELETE" method="post" onsubmit="return deleteConfirm()">
            <button class="btn-sm btn-danger col-12 my-1"><i class="fas fa-trash-alt"></i></button>
           </form> 
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>